obj/Debug/net6.0/ref/AlgoExpert.dll
obj/Debug/net6.0/refint/AlgoExpert.dll
bin/Debug/net6.0/AlgoExpert.pdb
bin/Debug/net6.0/AlgoExpert.dll
obj/Debug/net6.0/AlgoExpert.assets.cache
obj/Debug/net6.0/AlgoExpert.GeneratedMSBuildEditorConfig.editorconfig
